## Read data with Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MonthlySales.csv')

In [3]:
df.head(5)

        month     sales
0  2013-01-01  14236.90
1  2013-02-01   4519.89
2  2013-03-01  55691.01
3  2013-04-01  28295.35
4  2013-05-01  23648.29

In [4]:
import json
from pandas.io.json import json_normalize

with open('monthlySalesbyCategoryMultiple.json') as json_data:
    d = json.load(json_data)

In [5]:
df = json_normalize(d['contents'], 'monthlySales', ['category', 'region'])

In [6]:
df

       month  sales    category region
0   20130101     38   Furniture   West
1   20130201     35   Furniture   West
2   20130301     41   Furniture   West
3   20130401     55   Furniture   West
4   20130501     58   Furniture   West
5   20130601     66   Furniture   West
6   20130701     74   Furniture   West
7   20130801     78   Furniture   West
8   20130901     38   Furniture   West
9   20131001     30   Furniture   West
10  20131101     26   Furniture   West
11  20131201     29   Furniture   West
12  20130101     54  Technology   West
13  20130201     66  Technology   West
14  20130301     77  Technology   West
15  20130401     70  Technology   West
16  20130501     60  Technology   West
17  20130601     63  Technology   West
18  20130701     55  Technology   West
19  20130801     47  Technology   West
20  20130901     55  Technology   West
21  20131001     30  Technology   West
22  20131101     22  Technology   West
23  20131201     77  Technology   West

In [7]:
# reading parquet into pandas dataframe
import pyarrow.parquet as pq

In [8]:
table = pq.read_table('MonthlyProductSales.parquet')

In [9]:
table.to_pandas().head()

,Month of Order Date,Product Name,Sales
0,b'2017-01-13',b'Xerox 1972',11
1,b'2017-01-13',b'Xerox 1923',37
2,b'2017-01-13',b'Xerox 225',19
3,b'2017-01-13',b'Xerox 195',40
4,b'2017-01-13',b'Wireless Extenders zBoost YX545 SOHO Signal ...,756

__Read data from html__
- You need to install html5lib

`pip install html5lib`
- Reading data from a html site

In [10]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations')

In [11]:
# get part that has the states and abbreviatioins
df_usa = df[0]

In [12]:
# remove unnecessary rows and columns
final_df = df_usa.drop(df_usa.index[range(0,11)]).drop(df_usa.columns[range(10,15)], axis=1)

In [13]:
final_df.head()

,0,1,2,3,4,5,6,7,8,9
11,United States of America,Federal state,US USA 840,US,00,NaN,NaN,U.S.,U.S.,U.S.A.
12,Alabama,State,US-AL,AL,01,AL,AL,Ala.,Ala.,NaN
13,Alaska,State,US-AK,AK,02,AK,AK,Alaska,Alaska,Alas.
14,Arizona,State,US-AZ,AZ,04,AZ,AZ,Ariz.,Ariz.,Az.
15,Arkansas,State,US-AR,AR,05,AR,AR,Ark.,Ark.,NaN

In [14]:
# rename columns
final_df.rename(columns={0:'Region Name', 1:'Region Status', 2:'ISO', 3:'ANSI_Letter', 4:'ANSI_Code',
                         5:'USPS', 6:'USCG', 7:'GPO', 8:'AP', 9:'Other Abbreviations'}, inplace=True)

In [15]:
# reset index of rows
final_df.reset_index(drop=True)

,Region Name,Region Status,ISO,ANSI_Letter,ANSI_Code,USPS,USCG,GPO,AP,Other Abbreviations
0,United States of America,Federal state,US USA 840,US,00,NaN,NaN,U.S.,U.S.,U.S.A.
1,Alabama,State,US-AL,AL,01,AL,AL,Ala.,Ala.,NaN
2,Alaska,State,US-AK,AK,02,AK,AK,Alaska,Alaska,Alas.
3,Arizona,State,US-AZ,AZ,04,AZ,AZ,Ariz.,Ariz.,Az.
4,Arkansas,State,US-AR,AR,05,AR,AR,Ark.,Ark.,NaN
5,California,State,US-CA,CA,06,CA,CF,Calif.,Calif.,"Ca., Cal."
6,Colorado,State,US-CO,CO,08,CO,CL,Colo.,Colo.,Col.
7,Connecticut,State,US-CT,CT,09,CT,CT,Conn.,Conn.,Ct.
8,Delaware,State,US-DE,DE,10,DE,DL,Del.,Del.,De.
9,District of Columbia,Federal district,US-DC,DC,11,DC,DC,D.C.,D.C.,Wash. D.C.
10,Florida,State,US-FL,FL,12,FL,FL,Fla.,Fla.,"Fl., Flor."
11,Georgia,State,US-GA,GA,13,GA,GA,Ga.,Ga.,NaN
12,Hawaii,State,US-HI,HI,15,HI,HA,Hawaii,Hawaii,H.I.
13,Idaho,State,US-ID,ID,16,ID,ID,Idaho,Idaho,"Id., Ida."
14,Illinois,State,US-IL,IL,17,IL,IL,Ill.,Ill.,"Il., Ills., Ill's"
15,Indiana,State,US-IN,IN,18,IN,IN,Ind.,Ind.,In.
16,Iowa,State,US-IA,IA,19,IA,IA,Iowa,Iowa,"Ia., Ioa.[1]"
17,Kansas,State,US-KS,KS,20,KS,KA,Kans.,Kan.,"Ks., Ka."
18,Kentucky,State (Commonwealth),US-KY,KY,21,KY,KY,Ky.,Ky.,"Ken., Kent."
19,Louisiana,State,US-LA,LA,22,LA,LA,La.,La.,NaN
20,Maine,State,US-ME,ME,23,ME,ME,Maine,Maine,Me.
21,Maryland,State,US-MD,MD,24,MD,MD,Md.,Md.,NaN
22,Massachusetts,State (Commonwealth),US-MA,MA,25,MA,MS,Mass.,Mass.,NaN
23,Michigan,State,US-MI,MI,26,MI,MC,Mich.,Mich.,NaN
24,Minnesota,State,US-MN,MN,27,MN,MN,Minn.,Minn.,Mn.
25,Mississippi,State,US-MS,MS,28,MS,MI,Miss.,Miss.,NaN
26,Missouri,State,US-MO,MO,29,MO,MO,Mo.,Mo.,NaN
27,Montana,State,US-MT,MT,30,MT,MT,Mont.,Mont.,NaN
28,Nebraska,State,US-NE,NE,31,NE,NB,Nebr.,Neb.,NaN
29,Nevada,State,US-NV,NV,32,NV,NV,Nev.,Nev.,Nv.
...,...,...,...,...,...,...,...,...,...,...
48,Washington,State,US-WA,WA,53,WA,WN,Wash.,Wash.,"Wa., Wn.[2]"
49,West Virginia,State,US-WV,WV,54,WV,WV,W. Va.,W.Va.,"W.V., W. Virg."
50,Wisconsin,State,US-WI,WI,55,WI,WS,Wis.,Wis.,"Wi., Wisc."
51,Wyoming,State,US-WY,WY,56,WY,WY,Wyo.,Wyo.,Wy.
52,American Samoa,Insular area (Territory),AS ASM 016 US-AS,AS,60,AS,AS,A.S.,NaN,NaN
53,Guam,Insular area (Territory),GU GUM 316 US-GU,GU,66,GU,GU,Guam,NaN,NaN
54,Northern Mariana Islands,Insular area (Commonwealth),MP MNP 580 US-MP,MP,69,MP,CM,M.P.,NaN,CNMI[3]
55,Puerto Rico,Insular area (Territory),PR PRI 630 US-PR,PR,72,PR,PR,P.R.,NaN,NaN
56,U.S. Virgin Islands,Insular area (Territory),VI VIR 850 US-VI,VI,78,VI,VI,V.I.,NaN,U.S.V.I.
57,U.S. Minor Outlying Islands,Insular areas,UM UMI 581 US-UM,UM,74,NaN,NaN,NaN,NaN,NaN
58,Baker Island,island,UM-81,NaN,81,NaN,NaN,NaN,NaN,XB[4]
59,Howland Island,island,UM-84,NaN,84,NaN,NaN,NaN,NaN,XH[4]
60,Jarvis Island,island,UM-86,NaN,86,NaN,NaN,NaN,NaN,XQ[4]
61,Johnston Atoll,atoll,UM-67,NaN,67,NaN,NaN,NaN,NaN,XU[4]
62,Kingman Reef,atoll,UM-89,NaN,89,NaN,NaN,NaN,NaN,XM[4]
63,Midway Islands,atoll,UM-71,NaN,71,NaN,NaN,NaN,NaN,QM[4]
64,Navassa Island,island,UM-76,NaN,76,NaN,NaN,NaN,NaN,XV[4]
65,Palmyra Atoll[5],atoll[5],UM-95,NaN,95,NaN,NaN,NaN,NaN,XL[4]
66,Wake Island,atoll,UM-79,NaN,79,NaN,NaN,NaN,NaN,QW[4]
67,Micronesia,Freely associated state,FM FSM 583,FM,64,FM,NaN,NaN,NaN,NaN
68,Marshall Islands,Freely associated state,MH MHL 584,MH,68,MH,NaN,NaN,NaN,NaN
69,Palau,Freely associated state,PW PLW 585,PW,70,PW,NaN,NaN,NaN,NaN
70,U.S. Armed Forces – Americas[6],US military mail code,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN
71,U.S. Armed Forces – Europe[7],US military mail code,NaN,NaN,NaN,AE,NaN,NaN,NaN,NaN
72,U.S. Armed Forces – Pacific[8],US military mail code,NaN,NaN,NaN,AP,NaN,NaN,NaN,NaN
73,Northern Mariana Islands,Obsolete postal code[9],NaN,NaN,NaN,CM,NaN,NaN,NaN,NaN
74,Panama Canal Zone,Obsolete postal code,PZ PCZ 594,NaN,NaN,CZ,NaN,NaN,NaN,NaN
75,Nebraska,Obsolete postal code[10],NaN,NaN,NaN,NB,NaN,NaN,NaN,NaN
76,Philippine Islands,Obsolete postal code,PH PHL 608[11],NaN,NaN,PI,NaN,NaN,NaN,NaN
77,Trust Territory of the Pacific Islands,Obsolete postal code,PC PCI 582,NaN,NaN,TT,NaN,NaN,NaN,NaN

## Inspect DataFrames with Pandas

In [16]:
df = pd.read_csv('MonthlyProductSales.csv', engine='python')

In [17]:
# show first 10 rows
df.head(10)

,Month of Order Date,Product Name,Sales
0,2013-05-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
1,2015-06-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
2,2013-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",333.0
3,2016-07-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416.0
4,2016-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",500.0
5,2015-08-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",1041.0
6,2013-11-01,1/4 Fold Party Design Invitations & White Enve...,6.0
7,2014-11-01,1/4 Fold Party Design Invitations & White Enve...,44.0
8,2014-12-01,3-ring staple pack,4.0
9,2013-01-01,3-ring staple pack,6.0

In [18]:
# show last 10 rows
df.tail(10)

     Month of Order Date                Product Name  Sales
9242          2015-07-01  Zipper Ring Binder Pockets    2.0
9243          2015-12-01  Zipper Ring Binder Pockets    3.0
9244          2016-01-01  Zipper Ring Binder Pockets    3.0
9245          2015-11-01  Zipper Ring Binder Pockets    4.0
9246          2014-11-01  Zipper Ring Binder Pockets    6.0
9247          2016-06-01  Zipper Ring Binder Pockets    6.0
9248          2016-07-01  Zipper Ring Binder Pockets   10.0
9249          2013-04-01  Zipper Ring Binder Pockets   14.0
9250          2016-12-01  Zipper Ring Binder Pockets   15.0
9251          2013-07-01  Zipper Ring Binder Pockets   16.0

In [19]:
# show summary stats of the sales column
df.describe()

              Sales
count   9252.000000
mean     248.308798
std      669.441779
min        0.000000
25%       18.000000
50%       60.000000
75%      222.000000
max    22638.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9252 entries, 0 to 9251
Data columns (total 3 columns):
Month of Order Date    9252 non-null object
Product Name           9252 non-null object
Sales                  9252 non-null float64
dtypes: float64(1), object(2)
memory usage: 216.9+ KB

In [21]:
# return as a series
s = df['Product Name']

# get count of values
s.value_counts(dropna=False)

Easy-staple paper                                                                      32
Staple envelope                                                                        30
Staples                                                                                30
Staples in misc. colors                                                                18
Situations Contoured Folding Chairs, 4/Set                                             14
Storex Dura Pro Binders                                                                14
Avery Non-Stick Binders                                                                14
KI Adjustable-Height Table                                                             14
Staple-based wall hangings                                                             13
Kingston Digital DataTraveler 16GB USB 2.0                                             13
Staple remover                                                                         13
Avery File Folder Labels                                                               12
Pressboard Covers with Storage Hooks, 9 1/2" x 11", Light Blue                         12
Zipper Ring Binder Pockets                                                             12
Eldon Expressions Wood Desk Accessories, Oak                                           12
GBC Standard Recycled Report Covers, Clear Plastic Sheets                              12
Eldon Wave Desk Accessories                                                            12
Fellowes Bankers Box Stor/Drawer Steel Plus                                            12
Ibico Plastic Spiral Binding Combs                                                     12
Acco Pressboard Covers with Storage Hooks, 14 7/8" x 11", Light Blue                   11
GBC Standard Therm-A-Bind Covers                                                       11
Wilson Jones Easy Flow II Sheet Lifters                                                11
Avery Durable Binders                                                                  11
GBC Premium Transparent Covers with Diagonal Lined Pattern                             11
Staple holder                                                                          11
Ibico Hi-Tech Manual Binding System                                                    11
Wilson Jones Turn Tabs Binder Tool for Ring Binders                                    11
Logitech Desktop MK120 Mouse and keyboard Combo                                        11
Bretford Rectangular Conference Table Tops                                             11
Avery 4027 File Folder Labels for Dot Matrix Printers, 5000 Labels per Box, White      11
                                                                                       ..
Snap-A-Way Black Print Carbonless Speed Message, No Reply Area, Duplicate               1
Penpower WorldCard Pro Card Scanner                                                     1
Jiffy Padded Mailers with Self-Seal Closure                                             1
Cubify CubeX 3D Printer Triple Head Print                                               1
Canon imageCLASS MF7460 Monochrome Digital Laser Multifunction Copier                   1
Avaya IP Phone 1140E VoIP phone                                                         1
Hunt BOSTON Model 1606 High-Volume Electric Pencil Sharpener, Beige                     1
Logitech Illuminated Ultrathin Keyboard with Backlighting                               1
Hewlett-Packard Deskjet 6540 Color Inkjet Printer                                       1
Grip Seal Envelopes                                                                     1
Xerox 1938                                                                              1
4009 Highlighters                                                                       1
Plantronics Single Ear Headset                                                          1
NeatDesk Desktop Scanner & Digital Filing System                                        1
Xerox 1926                                                                              1
RCA ViSYS 25423RE1 Corded phone                                                         1
Hewlett-Packard Deskjet F4180 All-in-One Color Ink-jet - Printer / copier / scanner     1
Ultra Commercial Grade Dual Valve Door Closer                                           1
Cisco TelePresence System EX90 Videoconferencing Unit                                   1
Hewlett-Packard Deskjet 3050a All-in-One Color Inkjet Printer                           1
Cisco Desktop Collaboration Experience DX650 IP Video Phone                             1
Global Enterprise Series Seating Low-Back Swivel/Tilt Chairs                            1
Avery 5                                                                                 1
SanDisk Cruzer 8 GB USB Flash Drive                                                     1
Boston 1900 Electric Pencil Sharpener                                                   1
Holmes Harmony HEPA Air Purifier for 17 x 20 Room                                       1
Xerox WorkCentre 6505DN Laser Multifunction Printer                                     1
Computer Printout Paper with Letter-Trim Fine Perforations                              1
AT&T EL51110 DECT                                                                       1
Wasp CCD Handheld Bar Code Reader                                                       1
Name: Product Name, Length: 1850, dtype: int64

In [22]:
s.unique()

array(['1.7 Cubic Foot Compact "Cube" Office Refrigerators',
       '1/4 Fold Party Design Invitations & White Envelopes, 24 8-1/2" X 11" Cards, 25 Env./Pack',
       '3-ring staple pack', ..., 'Zebra Zazzle Fluorescent Highlighters',
       'Zebra ZM400 Thermal Label Printer', 'Zipper Ring Binder Pockets'],
      dtype=object)

## Aggregate data with Pandas

In [23]:
# yearly sales summary
df.groupby(df['Month of Order Date'].str[:4].rename(columns={'Month of Order Date': 'Year of Order'})).describe().reset_index()

  index   Sales
          count        mean         std  min   25%   50%     75%      max
0  2013  1875.0  258.267200  803.537374  1.0  17.0  55.0  224.00  22638.0
1  2014  1968.0  239.107215  521.330289  1.0  19.0  62.0  225.25   7312.0
2  2015  2400.0  253.550833  711.795040  1.0  19.0  58.5  222.00  17500.0
3  2016  3009.0  243.940512  627.741547  0.0  18.0  60.0  221.00  14000.0

In [24]:
# yearly product sales totals
df_export = df.groupby([df['Month of Order Date'].str[:4], 'Product Name']).sum().reset_index()
df_export.rename(columns={'Month of Order Date':'Year of Order'})

     Year of Order                                       Product Name   Sales
0             2013         #10 White Business Envelopes,4 1/8 x 9 1/2   156.0
1             2013            #10- 4 1/8" x 9 1/2" Recycled Envelopes    63.0
2             2013       #10- 4 1/8" x 9 1/2" Security-Tint Envelopes    23.0
3             2013  1.7 Cubic Foot Compact "Cube" Office Refrigera...   541.0
4             2013  1/4 Fold Party Design Invitations & White Enve...     6.0
5             2013                           12 Colored Short Pencils     6.0
6             2013                   12-1/2 Diameter Round Wall Clock    64.0
7             2013     2300 Heavy-Duty Transfer File Systems by Perma   100.0
8             2013          24 Capacity Maxi Data Binder Racks, Pearl   505.0
9             2013                           24-Hour Round Wall Clock   140.0
10            2013                                 3-ring staple pack     6.0
11            2013  3.6 Cubic Foot Counter Height Office Refrigerator   177.0
12            2013     3D Systems Cube Printer, 2nd Generation, White  1300.0
13            2013                   3M Hangers With Command Adhesive    22.0
14            2013                                3M Organizer Strips    13.0
15            2013  3M Polarizing Task Lamp with Clamp Arm, Light ...   822.0
16            2013                       4009 Highlighters by Sanford    52.0
17            2013                            50 Colored Long Pencils    30.0
18            2013                    9-3/4 Diameter Round Wall Clock   168.0
19            2013                   ACCOHIDE 3-Ring Binder, Blue, 1"    34.0
20            2013                            ACCOHIDE Binder by Acco    17.0
21            2013   APC 7 Outlet Network SurgeArrest Surge Protector   241.0
22            2013  ARKON Windshield Dashboard Air Vent Car Mount ...    41.0
23            2013                             AT&T 1070 Corded Phone   624.0
24            2013                             AT&T 1080 Corded phone   767.0
25            2013                      AT&T 17929 Lendline Telephone   181.0
26            2013                                  AT&T 841000 Phone   124.0
27            2013                                        AT&T CL2909   604.0
28            2013                                       AT&T CL82213   220.0
29            2013                                  AT&T EL51110 DECT   378.0
...            ...                                                ...     ...
5296          2016                                          Xerox 214    58.0
5297          2016                                          Xerox 215    19.0
5298          2016                                          Xerox 216    36.0
5299          2016                                          Xerox 217    32.0
5300          2016                                          Xerox 218    10.0
5301          2016                                          Xerox 219    13.0
5302          2016                                           Xerox 22    36.0
5303          2016                                          Xerox 220    90.0
5304          2016                                          Xerox 221    53.0
5305          2016                                          Xerox 222    39.0
5306          2016                                          Xerox 225    66.0
5307          2016                                          Xerox 226    52.0
5308          2016                                          Xerox 227    56.0
5309          2016                                          Xerox 228    32.0
5310          2016                                           Xerox 23    64.0
5311          2016                                          Xerox 230   114.0
5312          2016                                          Xerox 231    68.0
5313          2016  Xerox 4200 Series MultiUse Premium Copy Paper ...   117.0
5314          2016          Xerox Color Copier Paper, 11" x 17", Ream    91.0
5315          2016   XtraLife ClearVue Slant-D Ring Binder, White, 3"    99.0
5316          2016  XtraLife ClearVue Slant-D Ring Binders by Card...    12.0
5317          2016              Zebra Zazzle Fluorescent Highlighters    43.0
5318          2016                         Zipper Ring Binder Pockets    35.0
5319          2016                  i.Sound Portable Power - 8000 mAh   138.0
5320          2016           iHome FM Clock Radio with Lightning Dock   644.0
5321          2016  iKross Bluetooth Portable Keyboard + Cell Phon...    67.0
5322          2016                         iOttie HLCRIO102 Car Mount   120.0
5323          2016                                iOttie XL Car Mount   224.0
5324          2016  invisibleSHIELD by ZAGG Smudge-Free Screen Pro...   205.0
5325          2016                 netTALK DUO VoIP Telephone Service   168.0

[5326 rows x 3 columns]

In [25]:
# overall product sales totals
df.groupby('Product Name').sum().reset_index()

                                           Product Name    Sales
0     "While you Were Out" Message Book, One Form pe...     25.0
1              #10 Gummed Flap White Envelopes, 100/Box     42.0
2                         #10 Self-Seal White Envelopes    109.0
3            #10 White Business Envelopes,4 1/8 x 9 1/2    489.0
4               #10- 4 1/8" x 9 1/2" Recycled Envelopes    286.0
5          #10- 4 1/8" x 9 1/2" Security-Tint Envelopes    147.0
6     #10-4 1/8" x 9 1/2" Premium Diagonal Seam Enve...    176.0
7                    #6 3/4 Gummed Flap White Envelopes     72.0
8     1.7 Cubic Foot Compact "Cube" Office Refrigera...   2706.0
9     1/4 Fold Party Design Invitations & White Enve...     50.0
10                             12 Colored Short Pencils     18.0
11                     12-1/2 Diameter Round Wall Clock    552.0
12         14-7/8 x 11 Blue Bar Computer Printout Paper    422.0
13       2300 Heavy-Duty Transfer File Systems by Perma    345.0
14            24 Capacity Maxi Data Binder Racks, Pearl   3537.0
15                             24-Hour Round Wall Clock    488.0
16                                   3-ring staple pack     44.0
17    3.6 Cubic Foot Counter Height Office Refrigerator   2947.0
18                             36X48 HARDFLOOR CHAIRMAT    370.0
19     3D Systems Cube Printer, 2nd Generation, Magenta  14300.0
20       3D Systems Cube Printer, 2nd Generation, White   2340.0
21                     3M Hangers With Command Adhesive    108.0
22                                3M Office Air Cleaner    260.0
23                                  3M Organizer Strips     83.0
24                   3M Polarizing Light Filter Sleeves    216.0
25    3M Polarizing Task Lamp with Clamp Arm, Light ...   2192.0
26    3M Replacement Filter for Office Air Cleaner f...    304.0
27                                    4009 Highlighters      8.0
28                         4009 Highlighters by Sanford    172.0
29                              50 Colored Long Pencils    137.0
...                                                 ...      ...
1820                                          Xerox 223     57.0
1821                                          Xerox 224     94.0
1822                                          Xerox 225    196.0
1823                                          Xerox 226    335.0
1824                                          Xerox 227    120.0
1825                                          Xerox 228     97.0
1826                                          Xerox 229     86.0
1827                                           Xerox 23    140.0
1828                                          Xerox 230    127.0
1829                                          Xerox 231     79.0
1830                                          Xerox 232    119.0
1831  Xerox 4200 Series MultiUse Premium Copy Paper ...    138.0
1832                         Xerox Blank Computer Paper    100.0
1833          Xerox Color Copier Paper, 11" x 17", Ream    593.0
1834  Xerox WorkCentre 6505DN Laser Multifunction Pr...   2520.0
1835                                         Xiaomi Mi3   2280.0
1836   XtraLife ClearVue Slant-D Ring Binder, White, 3"    385.0
1837  XtraLife ClearVue Slant-D Ring Binders by Card...     73.0
1838  Zebra GK420t Direct Thermal/Thermal Transfer P...    704.0
1839  Zebra GX420t Direct Thermal/Thermal Transfer P...   5787.0
1840                  Zebra ZM400 Thermal Label Printer   6966.0
1841              Zebra Zazzle Fluorescent Highlighters    100.0
1842                         Zipper Ring Binder Pockets     82.0
1843                  i.Sound Portable Power - 8000 mAh    414.0
1844           iHome FM Clock Radio with Lightning Dock    700.0
1845  iKross Bluetooth Portable Keyboard + Cell Phon...    479.0
1846                         iOttie HLCRIO102 Car Mount    216.0
1847                                iOttie XL Car Mount    224.0
1848  invisibleSHIELD by ZAGG Smudge-Free Screen Pro...    442.0
1849                 netTALK DUO VoIP Telephone Service   1113.0

[1850 rows x 2 columns]

## Export data with Pandas

In [26]:
df = pd.read_csv('MonthlyProductSales.csv', encoding='cp1252')

In [27]:
# yearly product sales totals
df_export = df.groupby([df['Month of Order Date'].str[:4], 'Product Name']).sum().reset_index()

In [28]:
df_export.head()

,Month of Order Date,Product Name,Sales
0,2013,"#10 White Business Envelopes,4 1/8 x 9 1/2",156.0
1,2013,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",63.0
2,2013,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",23.0
3,2013,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",541.0
4,2013,1/4 Fold Party Design Invitations & White Enve...,6.0

In [29]:
df_export = df_export.rename(columns={'Month of Order Date': 'Year of Order'})

In [30]:
df_export.head()

  Year of Order                                       Product Name  Sales
0          2013         #10 White Business Envelopes,4 1/8 x 9 1/2  156.0
1          2013            #10- 4 1/8" x 9 1/2" Recycled Envelopes   63.0
2          2013       #10- 4 1/8" x 9 1/2" Security-Tint Envelopes   23.0
3          2013  1.7 Cubic Foot Compact "Cube" Office Refrigera...  541.0
4          2013  1/4 Fold Party Design Invitations & White Enve...    6.0

In [31]:
# export to csv, check csv when finished
df_export.to_csv('YearlyProductSalesTotals.csv', header=True, index=False, encoding='utf-8')

In [32]:
df = pd.read_csv('YearlyProductSalesTotals.csv')

In [33]:
df.tail()

      Year of Order                                       Product Name  Sales
5321           2016  iKross Bluetooth Portable Keyboard + Cell Phon...   67.0
5322           2016                         iOttie HLCRIO102 Car Mount  120.0
5323           2016                                iOttie XL Car Mount  224.0
5324           2016  invisibleSHIELD by ZAGG Smudge-Free Screen Pro...  205.0
5325           2016                 netTALK DUO VoIP Telephone Service  168.0

In [34]:
# export to json
df_export.to_json('YearlyProductSalesTotals.json', orient='records')

In [35]:
# export to excel
df_export.to_excel('YearlyProductSalesTotals.xlsx', header=True, index=False)